@import "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/css/reset.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/css/reveal.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/css/theme/black.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/lib/css/monokai.css";

canvas {
  display: block;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
