@import "./reset.css";
@import "./reveal.css";
@import "./theme/black.css";
@import "../lib/css/monokai.css";

canvas {
  display: block;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
